<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <section v-if="hasError">
      Error!!
    </section>
    <section v-else>
      <div v-if="loading">
        Loading...
      </div>
      <div v-else>
        <ul v-cloak>
          <li v-for="(rate,currency) in bpi">
            {{ currency}} : {{ rate.rate_float | currencyDecimal | thousands }}
          </li>
        </ul>      
      </div>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.js"></script>
  <script src="./index.js"></script>
</body>
</html>